.project_settings__members
  h6.project_settings__members__title Members

  component [
    is              = "membersSettings"
    v-ref:members-settings
    keep-alive      = true
    :user-id        = "userId"
    :project-id     = "projectId"
    :role           = "role"
  ]
  == render 'shared/members_settings'

