.dashboard {
  /*** variables **************************************************************/
  $dashboard-bg-color:        $white-bg-color;
  $dashboard-bg-accent-color: $white-bg-darken-color;
  /****************************************************************************/

  background-color: $dashboard-bg-color;

  .dasbhboard__projects {
    background-color: $dashboard-bg-color;
    @include span-columns(5 of 10);
    @include pad($small-spacing);
  }

}
