.dashboard {
  /*** variables **************************************************************/
  $dashboard-bg-color:        $white-bg-color;
  $dashboard-bg-accent-color: $white-bg-darken-color;
  /****************************************************************************/

  background-color: $dashboard-bg-color;

  @include row;

  .dashboard__left {
    @include span-columns(5 of 10);
  }
  .dashboard__right {
    @include span-columns(5 of 10);
  }

  .dashboard__projects {
    background-color: $dashboard-bg-color;
    @include pad($small-spacing);

    .dashboard__projects__title {
      @include padding($base-spacing $small-spacing $base-spacing $small-spacing);
    }
  }
}
