.feature_list .feature_list__items {
  /*** variables **************************************************************/
  $feature_list__items_min_height: 150px;
  /****************************************************************************/

  min-height: $feature_list__items_min_height;
  @include row;

  .feature_list__items__iteration {
    @include span-columns(1 of 16);

    .feature_list__items__iterations__item {
      @include centering(horizontal);
      padding-top: $small-spacing;
      background-color: $theme-color;
      color: $white;
      border: $base-border;
    }
  }

  .feature_list__items__list {
    @include span-columns(15 of 16);

    .feature_list__items__list__item {

      @include row(table);
      border-bottom: $base-border;

      cursor: move;

      @include transition(all .2s ease-out);
      &:hover { background-color: $white-bg-darken-color; }
      &:nth-child(1) { border-top: $base-border; }

      .feature_list__items__list__item__division1 {
        @include centering(both);
        @include span-columns(1 of 15);
        max-width: 50px;
        padding: $small-spacing;
      }
      .feature_list__items__list__item__division2 {
        @include centering(both);
        @include span-columns(1 of 15);
        max-width: 50px;
        padding: $small-spacing;
      }
      .feature_list__items__list__item__division3 {
        @include span-columns(2 of 15);
        max-width: 80px;
        padding: $small-spacing;
      }
      .feature_list__items__list__item__division4 {
        @include span-columns(11 of 15);
        padding: $small-spacing;
      }
      .feature_list__items__list__item__title {
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .feature_list__items__list__item--chosen {
      @include transform(rotate(-2deg));
    }
    .feature_list__items__list__item--selected {
      @extend .feature_list__items__list__item;
      background-color: $theme-bg-color;
      color: $theme-ft-color;
      &:hover { background-color: $theme-bg-darken-color; }
    }
  }
}
