.feature_list .feature_list__menu {
  /*** variables **************************************************************/
  /****************************************************************************/

  .feature_list__menu__filter { @include margin($small-spacing null $small-spacing null) }
  .feature_list__menu__action { @include margin($small-spacing null $small-spacing null) }

  padding-bottom: $small-spacing;

  .feature_list__menu__item {
    display: inline-block;

    .feature_list__menu__item__btn {
      background: $white;
      padding: 0.5em 1em;
      color: $action-color;
      border: $base-border;
      border-left: none;
      border-radius: 0;

      &:hover {
        background: $theme-bg-color;
        color: $white;
      }
    }
    .feature_list__menu__item__lbl {
      width: 80px;
      @include centering(horizontal);
      @include appearance(none);
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      line-height: 1;
      vertical-align: middle;
      margin: 0;

      background: $white-bg-darken-color;
      padding: 0.5em 1em;
      border: $base-border;;
      border-left: none;
      border-radius: 0;
    }
  }

  .feature_list__menu__item:first-child > .feature_list__menu__item__btn,
  .feature_list__menu__item:first-child > .feature_list__menu__item__lbl {
    @include border-left-radius($base-border-radius);
    border-left: $base-border;
    border-right: $base-border;

  }
  .feature_list__menu__item:last-child > .feature_list__menu__item__btn,
  .feature_list__menu__item:last-child > .feature_list__menu__item__lbl {
    @include border-right-radius($base-border-radius);
  }

  .feature_list__menu__dropdown_list {
    padding: $small-spacing;
    background: $white;
    min-width: 100px;

    .feature_list__menu__dropdown_list__item > * {
      display: inline-block;
    }
  }
}
