.feature_list {
  /*** variables **************************************************************/
  $feature_list__query-ft-color: $white-ft-color;
  /****************************************************************************/

  .feature_list__query { color: $feature_list__query-ft-color }
  .feature_list__menu {
    .feature_list__menu__filter { display: inline; }
    .feature_list__menu__action { display: inline; padding-left: $small-spacing }

    padding-bottom: $small-spacing;

    .feature_list__menu__item {
      display: inline-block;

      .feature_list__menu__item__btn {
        background: $white;
        padding: 0.5em 1em;
        background: $white;
        color: $action-color;
        border: $base-border;
        border-right: none;
        border-radius: 0;
      }

    }
    .feature_list__menu__item:first-child > .feature_list__menu__item__btn {
      @include border-left-radius($base-border-radius);
    }
    .feature_list__menu__item:last-child > .feature_list__menu__item__btn {
      @include border-right-radius($base-border-radius);
      border-right: $base-border;
    }

    .feature_list__menu__dropdown_list {
      padding: $small-spacing;
      background: $white;

      .feature_list__menu__dropdown_list__item {
        /*display: inline-block;*/
      }
    }


  }

  .feature_list__item {
    @include row(table);
    border-bottom: $base-border;

    @include transition(all .2s ease-out);
    &:hover { background-color: $white-bg-darken-color; }

    .feature_list__item__division1 {
      @include centering(both);
      @include span-columns(1 of 16);
      max-width: 50px;
      @include padding($small-spacing $small-spacing $small-spacing $small-spacing);
    }

    .feature_list__item__division2 {
      @include span-columns(2 of 16);
      max-width: 80px;
      @include padding($small-spacing $small-spacing $small-spacing $small-spacing);
    }
    .feature_list__item__division3 {
      @include span-columns(13 of 16);
      @include padding($small-spacing $small-spacing $small-spacing $small-spacing);
    }

    .feature_list__item__title {
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
  .feature_list__item:nth-child(1) { border-top: $base-border; }
  .feature_list__item--selected {
    @extend .feature_list__item;
    background-color: $theme-bg-color;
    color: $theme-ft-color;
    &:hover { background-color: $theme-bg-darken-color; }
  }
}
