.feature_show {
  /*** variables **************************************************************/
  /****************************************************************************/

  text-align: left;

  .feature_show__btns {
    @include row();

    .feature_show__btns__btn--back {
      @include span-columns(1 of 4);
      @margin-right: $small-spacing / 2;
    }

    .feature_show__btns__btn--edit,
    .feature_show__btns__btn--submit {
      @include span-columns(3 of 4);
      @margin-left: $small-spacing / 2;
    }
  }
}
