.header {
  /*** variables **************************************************************/
  $header-height: 50px;
  $header-bg-color:            $theme-bg-color;
  $header-bg-accent-color:     $theme-bg-darken-color;
  $header-ft-color:            $theme-ft-color;
  $header-ft-non-accent-color: $theme-ft-non-accent-color;
  /****************************************************************************/

  @include fill-parent;
  @include row;
  position: relative;
  min-height: $header-height;

  background-color: $header-bg-color;

  color: $header-ft-color;

  > * {
    line-height: $header-height;
    height: $header-height;
  }

  .header__left {
    @include span-columns(2 of 12);
    @include centering(both);

    background-color: $header-bg-accent-color;
    @include media($tablet) { display: none; }
  }

  .header__center {
    @include span-columns(6 of 12);
    @include padding(null $small-spacing null $small-spacing);
    @include centering(vertical);
    @include media($tablet) { @include span-columns(7 of 10); }
  }

  .header__right {
    @include span-columns(4 of 12);
    @include centering(vertical);
    @include media($tablet) { @include span-columns(3 of 10); }
    > * { float: right; }
  }

  .header__title {
    font-size: $large-font-size;
  }

  .header__sub_tite {
    margin-left: 1rem;
    font-size: $base-font-size;
  }

  .header__list {
    .header__list__item {
      position: relative;
      float :left;
      @include padding(null $small-spacing null $small-spacing);
      @include transition(all .2s ease-out);
      &:hover { background-color: $header-bg-accent-color; }

      .header__list__item_dropdown__list {
        @include shadow(1);
        position: absolute;
        @include padding(null $small-spacing null $small-spacing);
        background: $white;
        min-width: 150px;
        top: 100%;
        left: 0;

        .header__list__item_dropdown__list__item {
          border-bottom: $base-border;
        }
        .header__list__item_dropdown__list__item:last-child {
          border-bottom: none;
        }
      }
    }
  }

  .header__btn {
    display: block;
    cursor: pointer;
    color: $header-ft-color;
  }
}
