.projects {
  /*** variables **************************************************************/
  $projects-ft-item-name-color: $action-color;
  $projects-button-height: $base-font-size * 2.5;
  /****************************************************************************/

  .projects__project_list {
    .projects__project_list__item {
      padding: $small-spacing;
      border-bottom: $base-border;
      @include transition(all .2s ease-out);

      &:hover {
        background-color: $white-bg-darken-color;
        cursor: pointer;
      }
      &:nth-child(1) { border-top: $base-border; }

      .projects__project_list__item--name {
        color: $projects-ft-item-name-color;
      }
    }
  }

  .projects__project_new {
    .projects__project_new__form {
      @include row;
      .projects__project_new__form__item--title {
        display: inline-block;
        @include span-columns(8 of 12);
        height: $projects-button-height;
        margin-right: 0;
        @include border-right-radius(0);
      }
      .projects__project_new__form__item--submit {
        display: inline-block;
        @include span-columns(4 of 12);
        height: $projects-button-height;
        margin-left: 0;
        @include border-left-radius(0);
      }
    }
  }
}

