.project_list {
  /*** variables **************************************************************/
  $project-list-ft-item-name-color: $action-color;
  /****************************************************************************/

  .project_list__item {
    @include padding($small-spacing $small-spacing $small-spacing $small-spacing);
    border-bottom: $base-border;
    @include transition(all .2s ease-out);

    .project_list__item--name {
      color: $project-list-ft-item-name-color;
    }

    &:hover {
      background-color: $white-bg-darken-color;
      cursor: pointer;
    }

  }
  .project_list__item:nth-child(1) { border-top: $base-border; }

}
