.progress {
  /*** variables **************************************************************/
  $progress-bg-color:        $white-bg-color;
  $progress-bg-accent-color: $white-bg-darken-color;
  /****************************************************************************/

  background-color: $progress-bg-color;

  .progress__division1 {
    @include fill-parent;
    @include row(table);

    .progress__division1__feature_graph {
      @include span-columns(5 of 10);
      @include pad($small-spacing);
    }
    .progress__division1__task_graph {
      @include span-columns(5 of 10);
      @include pad($small-spacing);
    }
  }

  .progress__division2 {
    @include fill-parent;
    @include row(table);
    background-color: $progress-bg-accent-color;
    .progress__division2__feature_new {
      @include span-columns(5 of 10);
      @include pad($small-spacing);
    }
    .progress__division2__task_new {
      @include span-columns(5 of 10);
      @include pad($small-spacing);
    }
  }


  .progress__division3 {
    @include fill-parent;
    @include row(table);
    .progress__division3__feature_list {
      @include span-columns(5 of 10);
      @include pad($small-spacing);
    }
    .progress__division3__task_list {
      @include span-columns(5 of 10);
      @include pad($small-spacing);
    }
  }

}
